@import '../../../styles/global.styles';

// ABOUT CONTENT
.aboutContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  // HEADER
  .header {
    .title {
      text-transform: uppercase;
      font-family: $secondary-font;
      font-size: 3.2rem;
      letter-spacing: 0.5px;
  
      color: $white;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $primary-color-light;

      margin-bottom: 1rem;
    }

    .imageContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .image {
        height: 40%;
        width: 40%;
        margin: 1rem 0;
      }
    }
  }

  // SUBHEADER
  .subheader {
    padding: 2rem;
    margin-bottom: 5rem;

    .subtitle {
      font-family: $primary-font;
      font-size: 1.4rem;
    }
  }

  // BUTTON CONTAINER
  .buttonContainer {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

// ********************************** MEDIA QUERIES ********************************** //
@media screen and (min-width: 500px) {
  .aboutContent {
    
    // HEADER
    .header {

      .title {
        font-size: 4.4rem;
      }
    }

    // BUTTON CONTAINER
    .buttonContainer {
      width: 50%;
    }
  }
}

@media screen and (min-width: 800px) {

}

@media screen and (min-width: 1200px) {
  .aboutContent {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    // HEADER
    .header {
      .title {
        font-size: 6.4rem;
  
        margin-bottom: 1rem;
      }

      .imageContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        .image {
          height: 20%;
          width: 20%;
          margin: 1rem 0;
        }
      }
    }

    // SUBHEADER
    .subheader {
      padding: 2rem;

      .subtitle {
        font-size: 1.6rem;
      }
    }

    // BUTTON CONTAINER
    .buttonContainer {
      width: 25%;
    }
  }
}