@import '../../styles/global.styles';

// PAGE CONTAINER
.pageContainer {
  border: 1px solid $black;
  max-width: 1200px;
  height: 100vh;

  margin-left: auto;
  margin-right: auto;
}

// ********************************** MEDIA QUERIES ********************************** //
@media screen and (min-width: 500px) {

}