@import '../../styles/global.styles';

// PAGE CONTAINER
.pageContainer {
  max-width: 1200px;
  height: 100vh;

  margin-left: auto;
  margin-right: auto;

  &.account {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
}

// ********************************** MEDIA QUERIES ********************************** //
@media screen and (min-width: 500px) {

}

@media screen and (min-width: 800px) {
  // PAGE CONTAINER
  .pageContainer {
    max-width: 2200px;

    &.account {
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}

@media screen and (min-width: 1200px) {
  // PAGE CONTAINER
  .pageContainer {
    max-width: 2200px;
  }
}