@import '../../styles/global.styles';

// PAGE CONTAINER
.pageContainer {
  max-width: 1200px;
  min-height: 70vh;

  margin-left: auto;
  margin-right: auto;

  padding-bottom: 7rem;

  // ACCOUNT PAGE
  &.account {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  // NOT FOUND PAGE
  &.notfound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

// ********************************** MEDIA QUERIES ********************************** //
@media screen and (min-width: 500px) {
  .pageContainer {
    padding-bottom: 3rem;
  }
}

@media screen and (min-width: 800px) {
  // PAGE CONTAINER
  .pageContainer {
    max-width: 100vw;

    &.account {
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}

@media screen and (min-width: 1200px) {
  // PAGE CONTAINER
  .pageContainer {
    max-width: 100vw;
  }
}