@import '../../../styles/global.styles';

// HOME SECTIONS
.homeSections {

  // MOBILE CONTAINER (< 800px)
  .mobileContainer {
    display: flex;
    flex-direction: column;

    // MOBILE SECTION
    .mobileSection {

      .mobileTitle {
        width: auto;
        color: $white;
        text-transform: uppercase;
        text-align: center;
        font-family: $secondary-font;
        font-size: 3.6rem;
        letter-spacing: 1px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $primary-color-light;
        padding: 2.5rem 0;
        cursor: pointer;

        transition: color 600ms ease-in;

        &:hover {
          color: $primary-color-light;
        }
      }
    }
  }

  // DESKTOP CONTAINER (> 800px)
  .desktopContainer {
    display: none;
  }
}

// ********************************** MEDIA QUERIES ********************************** //
@media screen and (min-width: 500px) {
  .homeSections {

    // MOBILE CONTAINER (< 800px)
    .mobileContainer {
      display: flex;
      flex-direction: column;
    }

    // DESKTOP CONTAINER (> 800px)
    .desktopContainer {
      display: none;
    }
  }  
}

@media screen and (min-width: 800px) {
  .homeSections {

    // MOBILE CONTAINER (< 800px)
    .mobileContainer {
      display: none;
    }

    // DESKTOP CONTAINER (> 800px)
    .desktopContainer {
      display: flex;
      flex-direction: column;
    }
  }  
}

@media screen and (min-width: 1200px) {
  .homeSections {

    // MOBILE CONTAINER (< 800px)
    .mobileContainer {
      display: none;
    }

    // DESKTOP CONTAINER (> 800px)
    .desktopContainer {
      display: flex;
      flex-direction: column;
    }
  }  
}