@import '../../../styles/global.styles';

// GLOVES ITEM
.glovesItem {
  margin-bottom: 5rem;

  // ITEM CONTAINER
  .itemContainer {
    cursor: pointer;
    
    .imageContainer {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .itemImage {
        height: 100%;
        width: 100%;
        z-index: 0;
        -webkit-transition: all 3s ease;
        -moz-transition: all 3s ease;
        -ms-transition: all 3s ease;
        transition: all 3s ease;
      }
    }

    .buttonContainer {
      display: none;
    }
  }

  // PRICE CONTAINER
  .priceContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .itemName {
      text-transform: uppercase;
      font-family: $primary-font;
      font-size: 1.25rem;
      font-weight: bold;
    }

    .itemPrice {
      font-family: $primary-font;
      font-size: 1.2rem;
      letter-spacing: 0.5px;
    }
  }

  // HOVER
  &:hover {
    // ITEM CONTAINER
    .itemContainer {
      .imageContainer {
        .itemImage {
          transform: scale(1.25);
        }
      }

      .buttonContainer {
        display: inline;
      }
    }

    // PRICE CONTAINER
    .priceContainer {
      display: none;
    }
  }
}

// ********************************** MEDIA QUERIES ********************************** //
@media screen and (min-width: 500px) {
  .glovesItem {
    .itemContainer {
      .imageContainer {
        .itemImage {
          height: 80%;
          width: 80%;
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .glovesItem {
    .itemContainer {
      .imageContainer {
        .itemImage {
          height: 80%;
          width: 80%;
        }
      }
    }

    .priceContainer {
      .itemName {
        font-size: 1.4rem;
      }

      .itemPrice {
        font-size: 1.3rem;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .glovesItem {
    .itemContainer {
      .imageContainer {
        .itemImage {
          height: 75%;
          width: 75%;
        }
      }
    }
  }
}