@import '../../styles/global.styles';

// BUTTON
.button {
  border: none;
  height: 5rem;
  width: 100%;

  font-weight: bolder;
  color: $grey;
  text-transform: uppercase;

  cursor: pointer;

  &:hover {
    background: $primary-color;
    color: $white;
  }

  // ACCOUNT
  &.account {
    background: lighten($primary-color, 10%);
    color: $white;
    transition: background-color 300ms ease-in-out;
    transition: color 100ms ease-in-out;

    &:hover {
      background: $white;
      color: $black;
      border: 1px solid $lightgrey;
    }
  }

  // INVERT
  &.invert {
    background: $white;
    color: $black;
    border: 1px solid $lightgrey;
    transition: background-color 300ms ease-in-out;
    transition: color 100ms ease-in-out;

    &:hover {
      background: lighten($primary-color, 10%);
      color: $white;
      border: none;
    }
  }

  // SOCIAL
  &.social {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $black;
    border: 1px solid $lightgrey;
    font-size: 1.3rem;
    // font-family: $secondary-font;
    font-family: $primary-font;

    margin: 0 0.5rem;

    &:hover {
      background: $white;
    }
  }
}

// ********************************** MEDIA QUERIES ********************************** //
@media screen and (min-width: 500px) {

}

@media screen and (min-width: 800px) {

}

@media screen and (min-width: 1200px) {
  
}