@import '../../styles/global.styles';

// BUTTON
.button {
  border: none;
  height: 5rem;
  width: 100%;

  font-weight: bolder;
  color: $grey;
  text-transform: uppercase;

  cursor: pointer;

  &:hover {
    background: $primary-color;
    color: $white;
  }

  // ACCOUNT
  &.account {
    background: lighten($primary-color, 10%);
    color: $white;
    transition: background-color 300ms ease-in-out;
    transition: color 100ms ease-in-out;

    &:hover {
      background: $white;
      color: $black;
      border: 1px solid $lightgrey;
    }
  }

  // ACCOUNT INFO
  &.accountInfo {
    background: none;
    color: $black;
    border: none;
    text-decoration: underline;
    text-align: right;
    font-size: 1.3rem;

    margin-left: auto;
    margin-right: 5%;
    width: auto;
    
  }

  // INVERT
  &.invert {
    background: $white;
    color: $black;
    border: 1px solid $lightgrey;
    transition: background-color 300ms ease-in-out;
    transition: color 100ms ease-in-out;

    &:hover {
      background: lighten($primary-color, 10%);
      color: $white;
      border: none;
    }
  }

  // SOCIAL
  &.social {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $white;
    color: $black;
    border: 1px solid $lightgrey;
    font-size: 1.3rem;
    font-family: $primary-font;

    margin: 0 0.5rem;

    &:hover {
      background: $white;
    }
  }

  // PROFILE RED
  &.profileRed {
    background: lighten($primary-color, 10%);
    color: $white;
    height: 6rem;
    font-family: $secondary-font;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }

  // PROFILE GREY
  &.profileGrey {
    background: $midgrey;
    color: $black;
    height: 6rem;
    font-family: $secondary-font;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }

  // NAVBAR
  &.navbar {
    display: none;
  }

  // NEWSLETTER
  &.newsletter {
    height: 3rem;
    width: 40%;
    background: $black;
    color: $white;
    font-family: $primary-font;
    font-size: 1.2rem;

    &:hover {
      background: $black;
      color: $white;
    }
  }

  // ITEM (ITEMS PAGE BUTTON)
  &.item {
    border: 1px solid $primary-color-light;
    background: $white;
    color: $primary-color-light;
    font-size: 1.1rem;
    height: 4rem;
    letter-spacing: 0.5px;
    margin-bottom: 0.5rem;

    &:hover {
      background: $primary-color-light;
      color: $white;
    }
  }

  // PRODUCT (PRODUCT PAGE BUTTON)
  &.product {
    background: $primary-color-light;
    color: $white;

    &:hover {
      background: $white;
      color: $primary-color-light;
      border: 1px solid $primary-color-light;
    }
  }

  // CHECKOUT
  &.checkout {
    background: $white;
    color: $primary-color-light;
    border: 1px solid $primary-color-light;
  }

  // EDIT PRODUCT (ADMIN DASHBOARD PAGE
  &.editProduct {
    background: $primary-color-light;
    color: $white;
    width: 12.5%;       // 12.5% if 8 items in header
    font-size: 1rem;

    &:hover {
      background: lighten($primary-color-light, 5%);
    }
  }
}

// ********************************** MEDIA QUERIES ********************************** //
@media screen and (min-width: 500px) {
  .button {
    // PROFILE RED
    &.profileRed {
      background: lighten($primary-color, 10%);
      color: $white;
      height: 7rem;
      font-family: $secondary-font;
      font-size: 1.6rem;
      letter-spacing: 1px;
    }

    // PROFILE GREY
    &.profileGrey {
      background: $midgrey;
      color: $black;
      height: 7rem;
      font-family: $secondary-font;
      font-size: 1.6rem;
      letter-spacing: 1px;
    }
    
    // NAVBAR
    &.navbar {
      display: inline-block;
      width: 7rem;
      height: 3rem;
      font-size: 1.1rem;
      background: $white;
      color: $black;
      border: 1px solid $black;
      font-weight: lighter;
      transition: background-color 200ms ease-in-out;

      &:hover {
        background: $black;
        color: $white;
        border: none;
      }
    }

    // NEWSLETTER
    &.newsletter {
      height: 3rem;
      width: 35%;
      background: $black;
      color: $white;
      font-family: $primary-font;
      font-size: 1.2rem;

      &:hover {
        background: $black;
        color: $white;
      }
    }
    
    // ITEM (ITEMS PAGE BUTTON)
    &.item {
      font-size: 1.3rem;
      height: 4rem;
      letter-spacing: 0.5px;
      margin-bottom: 1rem;
    }
  }
}

@media screen and (min-width: 800px) {

}

@media screen and (min-width: 1200px) {
  
}