@import '../../styles/global.styles';

// PROFILE INFORMATION
.profileInformation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

  // ACCOUNT FORM
  .accountForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
    background: $midgrey;
    margin-bottom: auto;

    .title {
      margin: 2rem 0;
      font-family: $secondary-font;
    }
  }

}

// ********************************** MEDIA QUERIES ********************************** //
@media screen and (min-width: 500px) {

}

@media screen and (min-width: 800px) {

}

@media screen and (min-width: 1200px) {
  
}