@import '../../styles/global.styles';

// ACCOUNT REGISTER
.accountLogin {
  border: 1px solid $black;
  width: 100%;

  .title {
    text-align: center;
    text-transform: uppercase;
    font-family: $secondary-font;
    font-size: 4.4rem;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .socialLogins {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    .text {
      text-align: center;
      text-transform: uppercase;
      font-weight: bolder;
      font-size: 1.6rem;
    }
    
    .buttons {
      display: flex;
      justify-content: space-between;

      .google {
        color: $danger;
        margin-right: 1rem;
        padding-top: 5px;
        font-size: 2rem;
      }

      .facebook {
        color: $link;
        margin-right: 1rem;
        padding-top: 5px;
        font-size: 2rem;
      }
    }
  }
}

// ********************************** MEDIA QUERIES ********************************** //
@media screen and (min-width: 500px) {

}

@media screen and (min-width: 800px) {
  .accountLogin {
    width: 50%;

    .form {
      width: 50%;
    }
    
    .socialLogins {
      width: 50%;
    }
  }
}

@media screen and (min-width: 1200px) {

}