@import '../../../styles/global.styles';

// ABOUT HEADER
.aboutHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;

  // HEADER CONTAINER
  .header {
    background: $primary-color-light;
    padding: 2rem;

    .title {
      text-transform: uppercase;
      font-family: $secondary-font;
      font-size: 4rem;

      color: $primary-color-light;
      -webkit-text-stroke-width: 1.5px;
      -webkit-text-stroke-color: $white;

      .titleName {
        letter-spacing: 1px;
        color: $primary-color-light;
        -webkit-text-stroke-width: 1.5px;  
        -webkit-text-stroke-color: $white;
      }
    }

    .subheader {
      .subtitle {
        font-size: 1.4rem;
        font-weight: lighter;
        color: $white;
      }
    }
  }

  // IMAGE CONTAINER
  .imageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    
    .image {
      height: 50%;
      width: 50%;
    }
  }
}

// ********************************** MEDIA QUERIES ********************************** //
@media screen and (min-width: 500px) {
  .aboutHeader {

    // HEADER
    .header {
      .title {
        font-size: 6rem;
  
      }
      .subheader {
        padding-right: 5rem;

        .subtitle {
          font-size: 1.5rem;
        }
      }
    }

    // IMAGE CONTAINER
    .imageContainer {
      margin-top: 5rem;
      margin-bottom: 5rem;
    }
  }
}

@media screen and (min-width: 800px) {
  .aboutHeader {
    margin-top: 5rem;

    // HEADER
    .header {
      .title {
     
      }
      
      .subheader {
        padding-right: 10rem;

        .subtitle {
          font-size: 1.6rem;
        }
      }
    }

    // IMAGE CONTAINER
    .imageContainer {
      margin-top: none;
      margin-bottom: none;

      .image {
        height: 60%;
        width: 60%;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .aboutHeader {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 50rem;
    margin-bottom: 5rem;

    // HEADER CONTAINER
    .header {
      width: 60%;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 5rem;

      .title {
        margin-right: 3rem;
      }

      .subheader {
        padding: 0 1rem;

        .subtitle {
          text-align: justify;
        }
      }
    }

    // IMAGE CONTAINER
    .imageContainer {
      width: 40%;

      .image {
        max-height: 45%;
        max-width: 45%;
      }
    }
  }
}

@media screen and (min-width: 2000px) {
  .aboutHeader {
    height: 60rem;

    // HEADER CONTAINER
    .header {

      .title {
        margin-right: 0;
      }

      .subheader {
        margin-right: 1rem;

        .subtitle {
          font-size: 1.8rem;
        }
      }
    }
  }
}