@import '../../../styles/global.styles';

// PRODUCT ITEM
.productItem {
  display: flex;
  flex-direction: column;

  // IMAGE CONTAINER
  .imageContainer {
    width: 100%;
    text-align: center;
    
    .galleryContainer {
      height: 50rem;
    }

    .imageIndex {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 1rem 0;

      .icon {
        font-size: 1.2rem;
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }
  }

  // DESCRIPTION CONTAINER
  .descriptionContainer {
    width: 100%;
    padding: 0 1rem;

    .productMain {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  
      .productName {
        color: $white;
        font-family: $secondary-font;
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $primary-color;
      }
  
      .productPrice {
        font-family: $primary-font;
        font-size: 1.8rem;
        font-weight: lighter;
      }
    }
    
    // SECONDARY
    .productSecondary {
      margin-bottom: 1rem;
  
      .productColor {
        font-family: $primary-font;
        font-size: 1.3rem;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 1rem;
      }
  
      .productDescription {
        font-size: 1.4rem;
        font-style: italic;
      }
    }
  
    // BUTTON
    .productButtons {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 5rem;
      margin-bottom: 1rem;
  
    .productQuantity {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      width: 50%;
      height: 100%;
      border: 1px solid $grey;
      margin-right: 1rem;
  
      .quantityIcon {
        color: $black;
        font-size: 2rem;
        cursor: pointer;
  
          &:active {
            color: $primary-color;
          }
        }
      }
    }
  
    // TERTIARY
    .productTertiary {
  
      .productInfo {
        font-weight: bold;
        font-size: 1.4rem;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
      }

      .fabric {
        font-size: 1.2rem;
      }

      .fit {
        font-size: 1.2rem;
      }
    }
  }
}

// ********************************** MEDIA QUERIES ********************************** //
@media screen and (min-width: 500px) {
  .productItem {
    display: flex;
    flex-direction: column;

    // IMAGE CONTAINER
    .imageContainer {
      width: 100%;
      text-align: center;
  
      .galleryContainer {
        height: 80rem;
      }
  
      .imageIndex {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
  
        .icon {
          font-size: 1.2rem;
          margin-left: 1rem;
          margin-right: 1rem;
        }
      }
    }

    // DESCRIPTION CONTAINER
    .descriptionContainer {
      width: 100%;

      // MAIN
      .productMain {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
  
        .productName {
          font-size: 3.6rem;
        }
    
        .productPrice {
          font-size: 1.8rem;
        }
      }

      // SECONDARY
      .productSecondary {

        .productColor {

        }

        .productDescription {

        }
      }

      // BUTTON
      .productButtons {
        height: 5rem;

        .productQuantity {
          width: 50%;

          .quantityIcon {
            color: $black;
            font-size: 2rem;
            cursor: pointer;

            &:active {
              color: $primary-color;
            }
          }
        }
      }
    }

    // TERTIARY
    .productTertiary {

      .productInfo {

      }
    }
  }

}

@media screen and (min-width: 1000px) {
  .productItem {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;

    // IMAGE CONTAINER
    .imageContainer {
      width: 60%;
      text-align: center;
  
      .galleryContainer {
        height: 70rem;
      }
  
      .imageIndex {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
  
        .icon {
          font-size: 1.2rem;
          margin-left: 1rem;
          margin-right: 1rem;
        }
      }
    }

    // DESCRIPTION CONTAINER
    .descriptionContainer {
      width: 40%;
      padding: 0 2rem;

      // MAIN
      .productMain {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 1rem;
    
        .productName {
          font-size: 4.8rem;
        }
    
        .productPrice {
          font-family: $primary-font;
          font-size: 2rem;
          font-weight: lighter;
        }
      }

      // SECONDARY
      .productSecondary {
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid $grey;
    
        .productColor {
          font-size: 1.4rem;
        }
    
        .productDescription {
          font-size: 1.5rem;
        }
      }

      // BUTTON
      .productButtons {
        height: 5rem;
        margin-bottom: 2rem;

        .productQuantity {
          width: 50%;

          .quantityIcon {
            color: $black;
            font-size: 2rem;
            cursor: pointer;

            &:active {
              color: $primary-color;
            }
          }
        }
      }

      // TERTIARY
      .productTertiary {
    
        .productInfo {
          font-size: 1.4rem;
          text-transform: uppercase;
          margin-bottom: 0.5rem;
        }

        .fabric {
          font-size: 1.2rem;
        }

        .fit {
          font-size: 1.2rem;
        }
      }
    }
  }

}

@media screen and (min-width: 1300px) {
  .productItem {

    // IMAGE CONTAINER
    .imageContainer {
      width: 50%;
      text-align: center;
      
      .galleryContainer {
        height: 100rem;
      }

      .imageIndex {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;

        .icon {
          font-size: 1.2rem;
          margin-left: 1rem;
          margin-right: 1rem;
        }
      }
    }

    // DESCRIPTION CONTAINER
    .descriptionContainer {
      width: 50%;
  
      // MAIN
      .productMain {
    
        .productName {
          font-size: 6rem;
        }
    
        .productPrice {
          font-size: 2.4rem;
        }
      }

      // SECONDARY
      .productSecondary {
    
        .productColor {
          font-size: 1.5rem;
        }
    
        .productDescription {
          font-size: 1.6rem;
        }
      }

      // BUTTON
      .productButtons {
        width: 50%;
        height: 5rem;

        .productQuantity {
          width: 40%;
        }
      }

      // TERTIARY
      .productTertiary {
    
        .productInfo {
          font-size: 1.5rem;
        }

        .fabric {
          font-size: 1.2rem;
        }

        .fit {
          font-size: 1.2rem;
        }
      }
    }
  }

}
