@import '../../../styles/global.styles';

// FOOTER COPYRIGHT
.footerCopyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;

  .title {
    font-family: $primary-font;
    font-size: 1.1rem;
    font-weight: lighter;
  }
}

// ********************************** MEDIA QUERIES ********************************** //
@media screen and (min-width: 500px) {
  .footerCopyright {
  
    .title {
      font-size: 1.3rem;
    }
  }
}

@media screen and (min-width: 800px) {

}

@media screen and (min-width: 1200px) {

}