@import '../../../styles/global.styles';

// CREATE PRODUCT
.createProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  padding: 0 1rem;

  // PRODUCT FORM
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;

    .title {
      font-size: 1.3rem;
    }

    .textArea {
      height: 12rem;
      margin-bottom: 1rem;
      padding: 1rem;
    }
  }

  // LINK CONTAINER
  .linkContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .link {
      color: $link;
      font-size: 1.3rem;
    }
  }
}

// ********************************** MEDIA QUERIES ********************************** //
@media screen and (min-width: 500px) {
  .createProduct {
    padding: 0;

    // PRODUCT FORM
    .form {
      width: 50%;
    }
  }
}

@media screen and (min-width: 800px) {

}

@media screen and (min-width: 1200px) {

}