@import '../../../styles/global.styles';

// PROFILE INFORMATION
.profileInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

// ********************************** MEDIA QUERIES ********************************** //
@media screen and (min-width: 500px) {
  
}

@media screen and (min-width: 800px) {
  // PROFILE INFORMATION
  .profileInformation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  
}