@import '../../styles/global.styles';

// FOOTER
.footer {
  display: none;
}

// ********************************** MEDIA QUERIES ********************************** //
@media screen and (min-width: 500px) {
  .footer {
    display: flex;
    flex-direction: column;
    border: 1px solid $black;
    min-height: 40rem;
  }
}

@media screen and (min-width: 800px) {

}

@media screen and (min-width: 1200px) {

}