@import '../../styles/global.styles';

// FORM INPUT
.formInput {
  padding: 1rem;
  margin-bottom: 1rem;
  color: $grey;
  border: 1px solid $lightgrey;

  // PROFILE
  &.profile {
    width: 90%;
    background: $midgrey;
    font-size: 1.3rem;
  }

  // NEWSLETTER
  &.newsletter {
    height: 3rem;
    margin-bottom: 0;
    border: none;
    width: 20rem;
    font-size: 1.2rem;
  }
}

// ********************************** MEDIA QUERIES ********************************** //
@media screen and (min-width: 500px) {
  // FORM INPUT
  .formInput {
    padding: 1rem;
    margin-bottom: 1rem;
    color: $grey;
    border: 1px solid $lightgrey;

    // PROFILE
    &.profile {
      width: 90%;
      background: $midgrey;
      font-size: 1.4rem;
    }

    // NEWSLETTER
    &.newsletter {
      height: 3rem;
      margin-bottom: 0;
      border: none;
      width: 25rem;
      font-size: 1.2rem;
    }
  }
}

@media screen and (min-width: 800px) {
  // FORM INPUT
  .formInput {
    padding: 1rem;
    margin-bottom: 1rem;
    color: $grey;
    border: 1px solid $lightgrey;

    // PROFILE
    &.profile {
      width: 90%;
      background: $midgrey;
      font-size: 1.5rem;
    }

    // NEWSLETTER
    &.newsletter {
      height: 3rem;
      margin-bottom: 0;
      border: none;
      width: 25rem;
      font-size: 1.2rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  
}