@import '../../../styles/global.styles';

// PROFILE DETAILS
.accountForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: $midgrey;
  margin-bottom: auto;
  padding-top: 3rem;

  .header {
    display: flex;
    // align-items: center;
    justify-content: space-between;
    width: 90%;

    .headerTitle {
      // margin: 2rem 0;
      margin: 0 0 2rem 0;
      text-transform: uppercase;
      text-align: justify;
      font-family: $secondary-font;
      font-size: 1.4rem;
      cursor: pointer;
    }

    .addIcon {
      color: $black;
      font-size: 1.8rem;
      cursor: pointer;

      &:active {
        color: $primary-color;
      }
    }
  }

  .title {
    width: 90%;
    margin: 2rem 0;
    text-transform: uppercase;
    text-align: justify;
    font-family: $secondary-font;
    font-size: 1.6rem;
  }

  .text {
    width: 90%;
    font-size: 1.1rem;
    text-align: center;
    margin: 1rem 0;

    .link {
      cursor: pointer;
      color: $link;
      text-decoration: underline;
    }
  }
}

// ********************************** MEDIA QUERIES ********************************** //
@media screen and (min-width: 500px) {
// PROFILE DETAILS
  .accountForm {

    .header {

      .headerTitle {
        font-size: 1.6rem;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  // PROFILE DETAILS
  .accountForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    background: $midgrey;
    margin-bottom: auto;
    padding-top: 3rem;

    .header {
      display: flex;
      // align-items: center;
      justify-content: space-between;
      width: 90%;
  
      .headerTitle {
        // margin: 2rem 0;
        margin: 0 0 2rem 0;
        text-transform: uppercase;
        font-family: $secondary-font;
        font-size: 1.6rem;
      }
  
      .addIcon {
        font-size: 1.8rem;
        cursor: pointer;
  
        &:active {
          color: $primary-color;
        }
      }
    }

    .title {
      width: 90%;
      margin: 2rem 0;
      text-transform: uppercase;
      text-align: justify;
      font-family: $secondary-font;
      font-size: 1.6rem;
    }

    .text {
      width: 90%;
      font-size: 1.1rem;
      text-align: center;
      margin: 1rem 0;

      .link {
        cursor: pointer;
        color: $link;
        text-decoration: underline;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  
}