@import '../../../styles/global.styles';

// CHECKOUT ITEMS
.checkoutItems {
  border-bottom: 1px solid $lightgrey;
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;

  // IMAGE CONTAINER
  .imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-right: 5rem;

    .image {

    }
  }

  // ITEM CONTENT
  .itemContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    padding: 2rem 0;
    margin-bottom: 1rem;
    text-transform: uppercase;
    
    .contentHeader {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 1rem;

      letter-spacing: 1px;

      .productName {
        font-family: $secondary-font;
        margin-right: 1rem;
      }

      .productColor {
        font-family: $primary-font;
        font-weight: bold;
      }
    }

    .priceContainer {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;

      .priceText {

      }
    }

    // PRODUCT QUANTITY
    .productQuantity {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      width: 50%;
      height: 4rem;
      border: 1px solid $lightgrey;
  
      .quantityIcon {
        color: $primary-color-light;
        font-size: 2rem;
        cursor: pointer;
  
        &:active {
          color: $primary-color;
        }
      }
    }
  }
}

// ********************************** MEDIA QUERIES ********************************** //
@media screen and (min-width: 500px) {
  .checkoutItems {
    .itemContent {
      .productQuantity {
        width: 40%;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .checkoutItems {
    .itemContent {
      .productQuantity {
        width: 30%;
      }
    }
  }
}

@media screen and (min-width: 1200px) {

}