@import '../../../styles/global.styles';

// EDIT ITEM
.editItem {
  width: 100%;
  margin-bottom: 5rem;
  padding: 0 1rem;

  // FORM
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;

    .title {
      font-size: 1.3rem;
    }

    .textArea {
      height: 12rem;
      margin-bottom: 1rem;
      padding: 1rem;
    }
  }

  // LINK CONTAINER
  .linkContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

// ********************************** MEDIA QUERIES ********************************** //
@media screen and (min-width: 500px) {
  .editItem {
    padding: 0;

    // FORM
    .form {
      width: 50%;
    }
  }
}

@media screen and (min-width: 800px) {

}

@media screen and (min-width: 1200px) {

}