@import '../../../styles/global.styles';

// PROFILE HISTORY
.profileHistory {

  .header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: $primary-font;
    font-size: 1.1rem;
    font-weight: normal;
    height: 5rem;

    background: $midgrey;
  }

  .orderNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25%;
    text-align: center;
    border: 1px solid $black;
  }

  .orderStatus {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25%;
    text-align: center;
    border: 1px solid $black;
  }

  .orderDate {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25%;
    text-align: center;
    border: 1px solid $black;
  }

  .orderAmount {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25%;
    text-align: center;
    border: 1px solid $black;
  }
}

// ********************************** MEDIA QUERIES ********************************** //
@media screen and (min-width: 500px) {
  .profileHistory {

    .header {
      font-size: 1.2rem;
    }
  }
}

@media screen and (min-width: 800px) {
  .profileHistory {

    .header {
      font-size: 1.4rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  
}