@import '../../../styles/global.styles';

// ACCOUNT REGISTER
.accountLogin {
  width: 100%;
  padding-bottom: 10rem;

  background-image: -webkit-radial-gradient(20% 80%, 60% 60%, rgba(255,255,255,.15), rgba(255,255,255,0)), url('../../../assets/images/ACCOUNT_IMAGE_1.jpg');
  background-size: cover;
  background-position: center;

  .form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;

    .title {
      text-align: center;
      text-transform: uppercase;
      font-family: $secondary-font;
      color: rgba(255, 255, 255, 0);
      font-size: 4.4rem;
      margin-bottom: 3rem;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $white;
    }
  }

  // SOCIAL LOGINS
  .socialLogins {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;

    .text {
      color: $white;
      margin-bottom: 2rem;
      text-align: center;
      text-transform: uppercase;
      font-weight: bolder;
      font-size: 1.6rem;
    }
    
    .buttons {
      display: flex;
      justify-content: space-between;

      .google {
        color: $danger;
        margin-right: 1rem;
        padding-top: 5px;
        font-size: 2rem;
      }

      .facebook {
        color: $link;
        margin-right: 1rem;
        padding-top: 5px;
        font-size: 2rem;
      }
    }
  }
}

// ********************************** MEDIA QUERIES ********************************** //
@media screen and (min-width: 500px) {

}

@media screen and (min-width: 800px) {
  .accountLogin {
    width: 50%;

    .form {
      width: 75%;
    }
    
    .socialLogins {
      width: 75%;
    }
  }
}

@media screen and (min-width: 1200px) {
  .accountLogin {
    width: 50%;

    .form {
      width: 75%;
    }
    
    .socialLogins {
      width: 75%;
    }
  }
}

@media screen and (min-width: 1400px) {
  .accountLogin {
    width: 50%;

    .form {
      width: 50%;
    }
    
    .socialLogins {
      width: 50%;
    }
  }
}